services:
  app-stc:
    build:
      context: .
      args:
        - DEV=true
    ports:
      - "8020:8020"
    volumes:
      - ./app:/app
      - dev-stc-static-data:/vol/web
    command: >
      sh -c "python manage.py wait_for_db &&
             python manage.py migrate &&
             python manage.py collectstatic --noinput &&
             daphne -b 0.0.0.0 -p 8020 app.asgi:application"
    env_file:
      - .env
    depends_on:
      db-stc:
        condition: service_healthy
      redis-stc:
        condition: service_healthy

  celery-stc:
    build:
      context: .
      args:
        - DEV=true
    volumes:
      - ./app:/app
    command: celery -A app worker --loglevel=info -E
    env_file:
      - .env
    depends_on:
      db-stc:
        condition: service_healthy
      redis-stc:
        condition: service_healthy

  db-stc:
    image: postgres:16-alpine
    volumes:
      - dev-stc-db-data:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - "54320:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 10

  redis-stc:
    image: redis:7-alpine
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10
  
  cloudflared:
    image: cloudflare/cloudflared:latest
    env_file:
      - .env
    command: tunnel --no-autoupdate --protocol http2 run --token ${CLOUDFLARE_TUNNEL_TOKEN}
    restart: unless-stopped
    depends_on:
      - app-stc


volumes:
  dev-stc-db-data:
  dev-stc-static-data:
